#root {

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

/* form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #040080;
  color: white;
}

form input[type="submit"] {
  margin-left: auto;
  padding: 5px 10px;
  background-color: white;
  color: #040080;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #7179B6;
  color: white;

} */