.hero {
    /* background-color: #343F99; */
    /* background-image: url(../assets/icons/pexels1.jpg); */

}

.happy_friends_image {
    width: 30%;
    height: 15%;
    /* Adjust as needed */
    border-radius: 0 0 90px 90px;
    margin-top: 0;

}