h1 {
    color: var(--navy-color);
}

ul {
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;

}

.orange {
    text-decoration: underline;
    text-decoration-color: #CF6D3A;
}

.required {
    color: red;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.branding_message {
    /* align-self: center; */
    margin-top: 5em;
    margin-bottom: 8em;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.branding_section_image {
    margin-bottom: 5em;
    grid-column: 2;
    grid-row: 1;
    width: 80%;
}

.happy_friends_image {
    width: 60%;
    height: 80%;
    /* Adjust as needed */
    border-radius: 0 0 90px 90px;
}

.spacing {
    margin-top: 3em;
    margin-bottom: 3em;
}

.block_white {
    background-color: white;
    color: black;
    display: grid;
}

.block_navy {
    background-color: var(--navy-color);
    color: white;
    display: grid;
}

.start_now_btn {
    /* background-color: #BFBC61; */
    background-color: #E88A4A;
    color: white;
    padding: 1.25rem 1.5rem;
    margin: 0 auto;
    border-radius: 20px;
    border: 2px solid var(--navy-color);
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    grid-column: 1;
    grid-row: 2;
}

.start_now_btn:hover {
    background-color: #CF6D3A !important;
}