h2 {
    color: white;
    text-shadow: 0 0 10px coral;
}

.nav__border {
    background-color: #3468D3;
    padding: 1em;
    width: 100%;

}

.nav__bar__right {
    justify-content: flex-end;
    float: right;
}

.nav__bar__mid {
    float: center;
}

.nav__bar__left {
    justify-content: flex-start;
    float: left;
}

.nav__bar__row {
    justify-content: space-between;
}