h2 {
    color: #000080;
    text-shadow: 0 0 10px white;

    /* -webkit-text-stroke: .2px white; */

}

.small_font {

    margin-top: 0;
    color: white !important;
}

.nav__border {
    color: white;
    background: linear-gradient(to right, #040080, #343F99, #7179B6);
    margin: 0;


}

.nav__bar__right {

    float: right;

}



.nav__bar__left {

    float: left;
    margin: 0;
}

.nav__bar__row {
    justify-content: space-between;
}