.nav__border {
    padding: 1em;
    width: 100%;
}

.nav__bar__right {
    float: right;
}



.nav__bar__left {
    float: left;
}

.nav__bar__row {
    justify-content: space-between;
}

.small_font {
    font-size: 10px;
    margin-top: 0;

}