p {
    color: #000080;
}

ul {
    color: #000080;
}

button {
    background-color: #E88A4A;
    color: white;
}

button:hover {
    border-color: black;
    color: white;
    background-color: #CF6D3A;

}