main form label,
form input,
form textarea {
    align-items: flex-start;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
}

.create_receipt_form {
    /* image CSS from homepage right side */
    grid-column: 2;
    grid-row: 1;
    width: 80%;
    margin-top: 10em;
    margin-bottom: 10em;
}

.create_receipt_image {
    /*Brand CSS from homepage left side */
    align-self: center;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.create_receipt_img {
    margin-top: 5em;
    margin-bottom: 5em;
    width: 40%;
    height: 10%;
    /* Adjust as needed */
    border-radius: 90px 90px 90px 90px;
}

.required {
    color: red;
}

button {

    background-color: #E88A4A !important;
    color: white;

}

button:hover {
    color: white;
    background-color: #c36837;
}