p {
    color: #000080;
}

.receipt_img {
    margin: 3em;
    object-fit: cover;
}

.export__button {
    background-color: #000080;
    color: white;
    padding: 1em;
    margin-left: -1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}